<%= form_for @tweet do |f| %>
	<div class="form-group">
	  <%= f.label :content %>
	  <%= f.text_area :content, class: "form-control", rows: 3 %>
	</div>
	<%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
  